.ProjectModalBackground {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  background-color: rgba(63, 63, 63, 0.877);
}

.ProjectsModalBox1 {
  position: fixed;
  border-radius: 10px 10px 10px 10px;
  z-index: 2000;
  top: 5%;
  bottom: 5%;
  left: 2%;
  right: 2%;
  animation: EfectDiv1 1s forwards;
  padding: 10px;
}
.ModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.modalDivHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modalDivHeader div:first-of-type {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 8%;
}

.modalDivHeader p {
  font-size: 40px;
  -webkit-text-stroke: 2px rgba(60, 255, 0, 0.26);
}
.modalDivHeader button {
  height: 30px;
  width: 30px;
  background-color: rgb(255, 108, 108);
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}
.modalDivHeader button:hover {
  background-color: red;
  box-shadow: 0px 0px 15px rgba(255, 54, 54, 0.644);
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}
.modalBox1 {
  display: flex;
  margin-bottom: 80px;
  align-items: center;
}
.bloco {
  height: 200px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(173, 255, 156);
}
.descri {
  text-shadow: 2px 2px 2px #000000;
  position: Absolute;
  top: 200px;
  left: 250px;
  right: 20px;
  color: rgb(0, 236, 59);
  -webkit-text-stroke: 0.2px rgb(0, 59, 15);
}
.modalBox2 {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}
.modalBox2 div:first-of-type {
  width: 50%;
  text-align: center;
}
.modalBox2 h6 {
  margin-bottom: 10px;
}
.modalBox2 div:last-of-type {
  width: 50%;
  text-align: center;
}

.modalBox3 {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 50px;
}
.modalBox3 div:first-of-type {
  width: 50%;
  text-align: center;
}
.modalBox3 div:last-of-type {
  width: 50%;
  text-align: center;
}
.modalBox4 {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

@media (max-width: 600px) {
  .bloco {
    margin-left: 0px;
    margin-bottom: 30px;
    height: 100px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(173, 255, 156);
  }
  .ModalContainer {
    font-size: 13px;
  }
  .descri {
    position: inherit;
    margin: 10px 20px;
  }
  .modalBox1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .bloco {
    margin-bottom: 10px;
  }
}
@media (max-width: 300px) {
}
