.ProjectModalBackground {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  background-color: rgba(63, 63, 63, 0.877);
}

.ProjectsModalBox1 {
  position: fixed;
  border-radius: 10px 10px 10px 10px;
  z-index: 2000;
  top: 15%;
  bottom: 15%;
  left: 5%;
  right: 5%;
  animation: EfectDiv1 1s forwards;
}
 