.btnLinkss a {
  text-decoration: none;
  color: black;
}

.btnLinkss {
  background-color: rgb(230, 245, 233);
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
  border: none;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 5px;
}
.btnLinkss:hover {
  box-shadow: 3px 3px 2px rgb(0, 0, 0);
  cursor: pointer;
}
