.OptTheme {
  margin-right: 20px;
}
.OptTheme div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}
.OptTheme p {
  font-size: 9px;
}
.OptTheme div:last-of-type {
  display: flex;
  gap: 8px;
}
.OptTheme a {
  display: flex;
}
.OptTheme img {
  height: 13px;
  transition: all 0.3s ease-in-out;
}
#ThemeSelected {
  filter: brightness(180%);
  transition: all 0.3 ease-in-out;
}
#ThemeNotSelected {
  filter: brightness(70%);
}

.OptTheme a:hover #ThemeNotSelected {
  cursor: pointer;

  filter: brightness(120%);
  transition: all 0.3 ease-in-out;
}

/*______________@MEDIA_______________*/

@media (max-width: 720px) {
  .OptTheme {
    margin: 0px;
  }
}
