.ProjectsMainSection3 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}
#borda1Project {
  width: 150px;
}
#borda2Project {
  width: 150px;
}

@media (max-width: 720px) {
  #borda1Project {
    width: 30%;
  }
  #borda2Project {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .ProjectsMainSection3 {
    border-bottom: none;
  }

  #borda1Project {
    width: 40%;
  }
  #borda2Project {
    width: 40%;
  }
}
