#About1Box {
  margin: 70px 0px 0px 5px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.475);
  padding: 40px 10% 70px 10%;
  line-height: 2;
}
.About1SubBox {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  text-align: center;
}
.NickName {
  font-size: 25px;
  color: rgb(0, 125, 38);
  animation: EfeitoCor 4s infinite;
}

.About1Img1 {
  height: 400px;
}
.About1Borda1 {
  filter: invert(70%);
  margin-top: 20px;
  height: 100px;
}

@media (max-width: 720px) {
  #About1Box {
    padding: 40px 0%;
  }
  #About1Box p {
    font-size: 12px;
  }
  #About1Box h1 {
    font-size: 16px;
  }
  .About1SubBox {
    gap: 0px;
  }

  .About1Img1 {
    height: 250px;
  }
  .About1Borda1 {
    height: 50px;
  }
}
@media (max-width: 400px) {
  #About1Box {
    padding: 10px 0%;
  }
  .About1SubBox {
    display: flex;
    flex-direction: column-reverse;
  }

  .About1Img1 {
    margin-bottom: 20px;
  }
}

@keyframes EfeitoCor {
  0% {
    text-shadow: 0.5px 0.5px rgb(0, 255, 229);
  }

  50% {
    text-shadow: 0.5px 0.5px rgb(0, 26, 255);
  }

  100% {
    text-shadow: 0.5px 0.5px rgb(0, 242, 255);
  }
}
