.divProject {
  margin-top: 50lhç;
  background-color: blue;
  border-radius: 5px 5px 5px 5px;
  height: 500px;
  background-image: linear-gradient(
    0deg,
    rgb(210, 254, 231),
    rgb(249, 234, 212)
  );
  opacity: 80%;
}
