.divProject {
  border-radius: 5px 5px 5px 5px;
  background-image: linear-gradient(
    0deg,
    rgba(210, 254, 231, 0.858),
    rgba(255, 255, 0, 0.342)
  );
  padding: 5px;
}
.divProject2 {
  padding: 10px;
  border-radius: 4px;
  min-height: 85vh;
}
.divProjectCards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
