#AboutSection3 {
  margin-top: 100px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.475);
  text-align: center;
}
.FirstPAboutSection3 {
  max-width: 800px;
  margin: auto;
  line-height: 2;
}
.SecondPAboutSection3 {
  max-width: 800px;
  margin: auto;
  line-height: 2;
}
.ThirdPAboutSection3 {
  max-width: 800px;
  margin: auto;
  line-height: 2;
}
.AboutSection3CoursesBox {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.AboutSection3CardsBox {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.LinksCoucesAboutSection3 a {
  margin: 0px auto;
  width: fit-content;
}
