.AboutSection3CoursesBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.AboutSection3CardsBox {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
