.ProjectsMainSection1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  border-bottom: 2px solid rgb(90, 79, 64);
  padding-bottom: 5px;
}

.ProjectsMainSection1Box2 div {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

#borda1Project {
  width: 150px;
}
#borda2Project {
  width: 150px;
}

.ProjectsMainSection1Box2 ul li {
  list-style: none;
  font-size: 11px;
}
.iconProject {
  width: 20px;
}
@media (max-width: 720px) {
  #borda1Project {
    width: 20%;
  }
  #borda2Project {
    width: 20%;
  }
  
  .ProjectsMainSection1Box2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .ProjectsMainSection1 {
    border-bottom: none;
  }
  .ProjectsMainSection1Box2 {
    display: none;
  }
}
