.ProjectsMainSection1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  border-bottom: 2px solid rgb(90, 79, 64);
  padding-bottom: 5px;
}
#borda1Project {
  width: 150px;
}
#borda2Project {
  width: 150px;
}

@media (max-width: 720px) {
  #borda1Project {
    width: 30%;
  }
  #borda2Project {
    width: 30%;
  }
 
}
@media (max-width: 400px) {
  .ProjectsMainSection1 {
    border-bottom: none;
  }
  
  #borda1Project {
    width: 40%;
  }
  #borda2Project {
    width: 40%;
  }
}
