.DivSticky {
  border-radius: 4px;
  position: sticky;
  top: 10px;
}
.DivSticky p {
  text-align: center;
}
.Aside li {
  margin-top: 20px;
  list-style: none;
  font-size: 11px;
  display: flex;
}
.Aside li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 3px solid rgba(116, 116, 116, 0);
}
.Aside li a:hover {
  border-bottom: 3px solid rgb(116, 116, 116);
}

@media (max-width: 400px) {
  .Aside {
    display: none;
  }
}
