.ProjectsMainSection2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  border-radius: 5px 5px 5px 5px;
  width: 450px;
  height: 200px;
}

.ProjectsMainSection2Box2 {
  display: flex;
  animation: EfectDiv 0.5s forwards;
  border-radius: 5px 5px 5px 5px;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 180px;
  transition: all 0.1s ease-in-out;
  border: 2px solid rgb(90, 79, 64);
  background-position: center;
  background-image: linear-gradient(
    20deg,
    rgba(0, 212, 212, 0.164),
    rgba(0, 0, 0, 0),
    rgba(1, 11, 12, 0)
  );
  cursor: pointer;
}
.ProjectsMainSection2Box2-2 {
  display: flex;
  width: 420px;
  height: 170px;
}
.ProjectsMainSection2Box3 {
  display: flex;
  padding-right: 2px;
  border-right: 2px solid rgb(90, 79, 64);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 120px;
}
.ProjectsMainSection2Box3 p {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}

.ProjectsMainSection2 img {
  max-height: 90px;
}

.ProjectsMainSection2Box4 {
  text-align: center;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 10px 10px 10px;
}

.CardsProjectsDescription1 {
  font-size: 14px;
}
.BtnProjectsCardClick {
  font-size: 22px;
  margin: 0px auto;
  width: 100px;
  opacity: 0%;
  transition: all 5s ease-out;
}
.CardsProjectsUsedTecDescryption {
  font-size: 12px;
}
.CardsProjectsDescryption {
  text-align: center;
}
.CardsProjectsUsedTecDesInfo {
  font-size: 11px;
  margin-bottom: 3px;
}

.ProjectsMainSection2Box5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  width: 7%;
}
.iconProjectCards {
  width: 20px;
}

.ProjectsMainSection2Box2:hover .BtnProjectsCardClick {
  animation: EfectDiv2 2s infinite;
}

@media (min-width: 720px) {
  .ProjectsMainSection2Box2:hover {
    width: 450px;
    height: 195px;
  }
}

@media (max-width: 720px) {
  .ProjectsMainSection2Box2 {
    width: 60vw;
  }
  .ProjectsMainSection2Box2:hover {
    box-shadow: 0px 0px 10px rgb(90, 82, 67);
  }
}
@media (max-width: 400px) {
  .ProjectsMainSection2Box5 {
    display: none;
  }
}
@keyframes EfectDiv {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes EfectDiv2 {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 70%;
  }
  100% {
    opacity: 0%;
  }
}
