.ProjectsMainSection2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  border-radius: 5px 5px 5px 5px;
  width: 450px;
  height: 200px;
}

.ProjectsMainSection2Box2 {
  display: flex;
  animation: EfectDiv 0.5s forwards;
  border-radius: 5px 5px 5px 5px;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 180px;
  transition: all 0.1s ease-in-out;
  border: 2px solid rgb(90, 79, 64);
  background-image: linear-gradient(
    45deg,
    rgba(0, 255, 21, 0.199),
    rgba(84, 133, 38, 0.205),
    rgba(0, 255, 76, 0.185)
  );
}
.ProjectsMainSection2Box2-2 {
  background-color: rgba(127, 255, 212, 0.418);
  display: flex;
  width: 420px;
  height: 170px;
}
.ProjectsMainSection2Box3 {
  background-color: aqua;
  display: flex;
  padding-right: 2px;
  border-right: 2px solid rgb(90, 79, 64);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 110px;
}
.ProjectsMainSection2Box3 p {
  text-align: center;
}

.ProjectsMainSection2 img {
  max-height: 100px;
}

.ProjectsMainSection2Box4 {
  text-align: center;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 68%;
  border-radius: 10px 10px 10px 10px;
}

.CardsProjectsDescription1 {
  font-size: 14px;
}
.CardsProjectsUsedTecDescryption {
  font-size: 70%;
}
.CardsProjectsDescryption {
  text-align: center;
}
.CardsProjectsUsedTecDesInfo {
  font-size: 60%;
  margin-bottom: 3px;
}

.ProjectsMainSection2Box5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  width: 7%;
}
.iconProjectCards {
  width: 30px;
}

.ProjectsMainSection2Box2:hover {
  width: 450px;
  height: 195px;
  cursor: pointer;
  font-size: 110%;
}

@keyframes EfectDiv {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 720px) {
  .ProjectsMainSection2Box2 {
    width: 60vw;
  }
}
@media (max-width: 400px) {
  .ProjectsMainSection2Box5 {
    display: none;
  }
}
