#AboutSection3Courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#AboutSection3Courses img {
  height: 70px;
}
#AboutSection3Courses h5 {
  margin-top: 15px;
  font-size: 17px;
}

@media (max-width: 900px) {
}
@media (max-width: 320px) {
}
@media (max-width: 270px) {
}
