.OptLin {
  margin-left: 20px;
}
.OptLin div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}
.OptLin p {
  font-size: 11px;
}
.OptLin div:last-of-type {
  display: flex;
  gap: 10px;
}
.OptLin a {
  display: flex;
}
.OptLin img {
  height: 18px;
  transition: all 0.3s ease-in-out;
}
#LinSelected {
  filter: brightness(200%);
  transition: all 0.3 ease-in-out;
}
.OptLin a:hover #LinNotSelected {
  cursor: pointer;
  filter: brightness(150%);
  transition: all 0.3 ease-in-out;
}

/*______________@MEDIA_______________*/

@media (max-width: 720px) {
  .OptLin {
    margin: 0px;
  }
}
