.MenuNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0px 0px 5px 5px;
}

.MenuLeft {
  display: flex;
  align-items: center;
}
.MenuLeft ul {
  display: flex;
  list-style: none;
  gap: 5px;
  margin: 0px 0px 0px 10px;
}

.MenuLeft ul li {
  display: flex;
  align-items: end;
  border-bottom: none;
}
.logo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
  background-color: aliceblue;
  padding: 0px 10px;
  border-radius: 8px;
  border: 3px outset #6c604b;
  width: 140px;
  margin: 5px auto;
}

.btn {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: end;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(181, 181, 181);
  height: 30px;
  border-radius: 4px 4px 0px 0px;
  border: 2px solid #6c604b;
  border-bottom: none;
  padding: 0px 10px;
}
#btnSelect {
  background-color: rgb(241, 178, 126);
  border: 2px solid #6c604b;
  border-bottom: none;
  opacity: 95%;
}

.MenuRight {
  display: flex;
}

.MenuRight a {
  background-color: rgb(32, 32, 32);
  border: 2px outset #6c604b;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0px 5px;
  margin-right: 10px;
}
