.MenuNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #c6c6c6;
  border-radius: 0px 0px 5px 5px;
}

.MenuLeft {
  display: flex;
  align-items: center;
  height: 50px;
}
.MenuLeft ul {
  display: flex;
  list-style: none;
  gap: 5px;
  margin: 20px 0px 0px 10px;
}

.MenuLeft ul li {
  display: flex;
  align-items: end;
  border-bottom: none;
}
.MenuNav h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
}

.link {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: end;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(181, 181, 181);
  height: 30px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #6c604b;
  border-bottom: none;
  padding: 0px 10px;
}

.MenuRight {
  display: flex;
  background-color: aquamarine;
  max-width: 280px;
  gap: 20px;
  margin: 0px 50px 0px 30px;
}
.MenuRight a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
