.MenuLeft {
  display: flex;
  align-items: center;
}
.MenuLeft ul {
  display: flex;
  list-style: none;
  gap: 5px;
  margin: 0px 0px 0px 10px;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgba(48, 48, 48, 0.879);
  border-radius: 4px 4px 0px 0px;
  border: 2px outset #6c604b;
  height: 35px;
  padding: 0px 10px;
}
.btn p {
  border-radius: 5px 0px 0px 0px;
  padding: 0px 5px;
  transition: all 0.1s ease-in-out;
}

#Selected1 {
  background-color: rgba(0, 255, 34, 0.486);
  border: 2px outset #6c604b;
  border-bottom: 2px solid rgba(255, 235, 205, 0);
  cursor: default;
  padding-bottom: 3px;
  transition: all 0.1s ease-in-out;
  color: rgb(0, 0, 0);
}

#Selected2 {
  background-color: rgba(255, 251, 0, 0.589);
  border: 2px outset #6c604b;
  border-bottom: 2px solid rgba(255, 235, 205, 0);
  cursor: default;
  padding-bottom: 3px;
  transition: all 0.1s ease-in-out;
  color: rgb(0, 0, 0);
}

#Selected3 {
  background-color: rgba(0, 195, 255, 0.541);
  border: 2px outset #6c604b;
  border-bottom: 2px solid rgba(255, 235, 205, 0);
  cursor: default;
  padding-bottom: 3px;
  transition: all 0.1s ease-in-out;
  color: rgb(0, 0, 0);
}

#NotSelected:hover {
  padding-bottom: 3px;
  transition: all 0.2s ease-in-out;
}


/*_________________________@MEDIA________________________________*/

@media (max-width: 720px) {
  .MenuLeft ul {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 400px) {
  .MenuLeft ul {
    margin: 10px 0px 0px 0px;
  }
  .MenuLeft p {
    font-size: 15px;
  }

  .btn {
    padding: 0px;
    height: auto;
  }
  #NotSelected {
    height: auto;
  }

  .MenuLeft ul {
    align-items: end;
    height: 20px;
  }
  #NotSelected:hover {
    padding-bottom: 1px;
    transition: all 0.2s ease-in-out;
  }
}
