footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  height: 40px;
  border-top: 2px outset #4e4537;
  margin-top: 5px;
}

footer p {
  font-size: 15px;
}
