footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-top: 2px outset #4e4537;
  margin-top: 5px;
  
}

footer p {
  text-align: center;
  font-size: 15px;
}
