.foooter {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.foooter p {
  text-align: center;
  font-size: 15px;
}
footer {
  margin-top: 20px;
}
