* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-image: url("../public/imgs/Wh.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#root {
  padding: 0px 20px;
}
