* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-image: url("../src/assets/Wh.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px 10px;
}
