#About2Box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgba(255, 255, 255, 0.475);
}
.About2SubBox1 {
  display: flex;
}
.About2SubBox2 {
  display: flex;
  max-width: 800px;
  margin-top: 70px;
}
.About2SubBox2 p {
  line-height: 2;
  text-align: center;
}

.About2SubBox1 p {
  text-align: center;
  margin-bottom: 10px;
}
.About2SubBox1 div {
  width: 30vw;
}

#About2Box img {
  margin: 40px 0px;
  max-width: 90%;
}

@media (max-width: 720px) {
  .About2SubBox1 {
    flex-direction: column;
  }
  .About2SubBox1 div {
    width: auto;
  }
}
