#About2Box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgba(255, 255, 255, 0.475);
}
.About2SubBox1 {
  display: flex;
}
.About2SubBox2 {
  display: flex;
  max-width: 800px;
  margin-top: 70px;
}
.About2SubBox2 p {
  line-height: 2;
  text-align: center;
}

.About2SubBox1 p {
  text-align: center;
  margin-bottom: 10px;
}
.About2SubBox1 div:first-of-type {
  width: 40vw;
}
.About2SubBox1 div:last-of-type {
  width: 40vw;
}
#About2Box img {
  margin: 40px 0px;
}
