.logo {
  display: flex;
}

.logo h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  background-color: aliceblue;
  padding: 0px 10px;
  border-radius: 8px;
  border: 3px outset #6c604b;
  margin: 5px auto;
}
